html {
  background-color: black;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

#main {
  display: block;
}

.title {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10000;
}

.title a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title a:hover {
  color: gold;
}

.title a:active {
  background-color: transparent;
  color: purple;
}

#img-div {
  background-color: transparent;
  width: 100%;
  height: auto;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#img-div:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;

  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: black;
  color: black;
}

.flip-card-back {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  transform: rotateY(180deg);
}

#image {
  padding: 25px;
  height: 750px;
}


#tribute-info {
  position: relative;
  top: 150px;
  background-color: transparent;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 150px;
}

#tribute-info a {
  color: #f2f2f2;
  text-decoration: none;

}


#tribute-info a:hover {
  color: gold;
}

#tribute-info a:active {
  background-color: transparent;
  color: purple;
}

#stats {
  position: fixed;
  top: 100px;
  left: 800px;
  height: auto;
  width: 600px;
}

#tribute-link {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 10000;
}

#gal{
  position: fixed;
  bottom: 0px;
  right: 50px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
z-index: 10000;
}



#tribute-link:hover, #gal:hover  {
  color: gold;
}

#tribute-link:active, #gal:active  {
  background-color: transparent;
  color: purple;
}

#why-kobe {
  position: absolute;
  background-image: url(images/img7.jpg);
  background-size: cover;
  top: 1080px;
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  color: snow;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#gallery {
  position: absolute;
  top: 2000px;
  padding: 100;
  display: block;
  height: 100%;
  width: 100%;
  overflow: scroll;


}

#last {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: auto;
}

#last:hover{
  transform: scale(1.5);
}
